<div class="wrap">
  <div class="sidebar">
  
  <p>Users#show  Should display profile, photo as well as posts from this user </p>
  <%= @user.username %><br>  
  <%= @user.email %><br>
  <%= image_tag @user.avatar.url(:thumb) %><br>
  
  </div>
  <div class="post_list">
  <% @user.posts.each do |a| %>
        <div class="individual_post" >
          <p class="author"><%= User.find(a.author).username %><small> wrote:</small></p>
          <hr>
          <p class="title"><%= a.title %></p>
          <p class="content"><%= a.content %></p>
          <p class="post_time">Posted at <%= a.created_at %></p>
          <hr>
          <% a.likes.each do |l| %>
            <p><%=User.find(l.user_id).username %> likes this post.
            <% if l.user_id == current_user.id %>
              <%= link_to "Unlike", like_path(a.id), :method => 'delete' %>
            <% end %>
            </p>
          <% end %>
          
          <% if current_user.likes.find_by(:post_id => a.id).nil? %>
            <p><%= button_to "Like this post", likes_path, :params => {:user_id => current_user.id, :post_id => a.id} %>
          <% end %>          
          <%= link_to "Comment", new_comment_path(:author => current_user.id, :post => a.id) %></p>         
          <% a.comments.each do |c| %>
            <div class="comments_in_post">
              <p><%= User.find(c.user_id).username %> commented:</p>
              <p><%= c.comment %></p>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
  </div>
</div>