<div class="wrap">
  <h1><%= @user.username %>'s page </h1>
  <div class="sidebar">
    
      <p>email : <%= @user.email %></p>
      <ul>
        <li>Works as a(n) <p><%= @user.job_title%></p> in <p><%= @user.job_location %></p><li>
        <li>Studied @ <p><%= @user.college %></p></li>
        <li>Lives in <p><%= @user.current_city %></p></li>
        <li>Originally from <p><%= @user.hometown %></p></li>
        
      </ul>
      <% unless @user.avatar_file_size.nil? %>
        <%= image_tag @user.avatar.url(:medium) %><br>
      <% end %>
  </div>
  
  
  
  <div class="post_list">
  <% @user.posts.each do |a| %>
        <div class="individual_post" >
          <p class="author"><%= User.find(a.author).username %><small> wrote:</small></p>
          <hr>
          <p class="title"><%= a.title %></p>
          <p class="content"><%= a.content %></p>
          <p class="post_time">Posted at <%= a.created_at %></p>
          <hr>
          <% a.likes.each do |l| %>
            <p><%=User.find(l.user_id).username %> likes this post.
            <% if l.user_id == current_user.id %>
              <%= link_to "Unlike", like_path(a.id), :method => 'delete' %>
            <% end %>
            </p>
          <% end %>
          
          <% if current_user.likes.find_by(:post_id => a.id).nil? %>
            <p><%= button_to "Like this post", likes_path, :params => {:user_id => current_user.id, :post_id => a.id} %>
          <% end %>          
          <%= render 'comments/new_comment', :user_id => current_user.id, :post_id => a.id %>
                  
          <% a.comments.each do |c| %>
            <div class="comments_in_post">
              <p><%= User.find(c.user_id).username %> commented:</p>
              <p><%= c.comment %></p>
              <% if c.user_id == current_user.id %>
                <%= link_to "delete comment", comment_path(c.id), :method => "delete" %>
              <% end %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
  </div>
</div>